
#clock-dial {
  height: 16rem;
  width: 16rem;
  border: 2px solid white;
  border-radius: 50%;
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

#timer-label {
  font-size: 2rem;
  font-weight: normal;
}

#time-left {
  font-size: 3rem;
  font-weight: 300;
}