// Playback and reset buttons

#controls-section { // playback and reset control buttons side-by-side
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: $m-size * 10;
  margin: 0 auto;
  // padding: 0 5rem;
}

.control button {
  background: $rust;
  color: white;
}

.control button svg {
  height: $ml-size * 1.10;
  width: $ml-size * 1.10;
}