.header {
  margin-bottom: $xxl-size;
  // padding: $ml-size 0;
  text-align: center;
}

.header__title {
  font-size: $xxl-size;
  font-weight: 400;
  margin: $l-size 0 $m-size;
}

.header__subtitle {
  font-size: $l-size;
  font-weight: 200; // override user agent stylesheet. 
  margin: 0;
}