html {
  font-size: 62.5%; // force 1rem to be 10px
}

body {
  background: $rust;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  // font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; // from Foundation-sites
  font-size: $m-size;
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 500;
} */

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
