// Colors
// $rust: #884444;
$rust: #c47979;

// Spacing
$s-size: .75rem;
$m-size: 1rem;  // 16px (the browser default) at the moment - see _base.scss
$ml-size: 1.25rem;
$l-size: 2rem;
$xl-size: 3rem;
$xxl-size: 3.4rem; // special tweak for header title
$xxxl-size: 5rem;

// Responsive layout
$desktop-breakpoint: 28rem;
